<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>365</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--groovy 의존성이 필요하다.-->
    <appender name="NAVER-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.GEventEvaluator">
                <expression>
                    <!--e.loggerName =~ "com.example\\..*\\.Naver*"-->
                    e.loggerName =~ "com.example.*.Naver*"
                </expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>NEUTRAL</OnMatch>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/naver/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/naver/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>365</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--janino 의존성이 필요하다...-->
    <appender name="GOOGLE-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator> <!--필터를 명시 안 하면 기본 필터임-->
                <expression>return logger.contains("Google");</expression>
            </evaluator>
            <OnMismatch>DENY</OnMismatch>
            <OnMatch>NEUTRAL</OnMatch>
        </filter>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/google/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/google/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>365</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="KAKAO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <filter class="com.example.Filter.KakaoFilter" />

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>logs/kakao/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/kakao/log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>365</maxHistory>
            <totalSizeCap>40GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- ===================================== -->
    <!-- log4jdbc 추천 settings                     -->
    <!-- ===================================== -->
    <!--                       development production -->
    <!-- jdbc.connection     :     WARN       WARN    -->
    <!-- jdbc.audit          :     WARN       WARN    -->
    <!-- jdbc.sqlonly        :     WARN       WARN    -->
    <!-- jdbc.sqltiming      :     INFO       WARN    -->
    <!-- jdbc.resultset      :     WARN       WARN    -->
    <!-- jdbc.resultsettable :     INFO       WARN    -->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="INFO"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="INFO"/>
    <logger name="jdbc.connection" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="NAVER-FILE"/>
        <appender-ref ref="GOOGLE-FILE"/>
        <appender-ref ref="KAKAO-FILE"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>